<section class="container">
  <h3 class="activities-name">{{activities.name}}</h3>
  <p> Type of activity: {{activities.type}} </p>
  <p> Description: {{activities.description_of_activities}} </p>
  <p> # of participants: {{activities.minNum_Participants}} </p>
  <p> Activity duration: {{activities.duration}} </p>
  <section class="flex-row justify-center">
  </section>
</section>