{{!-- if it doesnt work, try changing the model names to plural --}}
{{#each food as |food| }}
<section class="container">
  <h3 class="food-name">{{food.food_name}}</h3>
  {{!-- Should I make a new drink partial? to separate food and drinks? --}}
  <p> Description: {{food.description}} </p>
  <p> Ingredients: {{food.ingredients}} </p>
  {{if food.hasNuts === true}}
  <p> Does this have nuts? {{food.hasNuts}} {{{nuts_emoji}}} </p>
  <section class="flex-row justify-center">
  </section>
</section>
{{/each}}

