{{!-- if it doesnt work, try changing the model names to plural --}}
{{#each Food as |food| }}
<section class="container">
  <h3 class="food-name">{{food.name}}</h3>
  <p> Description: {{food.description}} </p>
  <p> Ingredients: {{food.ingredients}} </p>
  {{#if food.hasNuts}}
  <p> Does this have nuts? {{food.hasNuts}} {{{nuts_emoji}}} </p>
  {{#else}}
  <p> Does this have nuts? {{food.hasNuts}}  </p>
  {{/if}}
  <section class="flex-row justify-center">
  </section>
</section>
{{/each}}


{{!-- mock up partials for party-form Quick Add --}}

{{#each food as |food| }}
<section class="container">
  <h3 class="food-name">{{food.name}}</h3>
  <h3 class="food-name">{{food.id}}.{{food.name}}</h3>
  {{#if food.has_nuts}}
  <p> {{{nuts_emoji}}} </p>
  {{/if}}
  <section class="flex-row justify-center">
  </section>
</section>
{{/each}}
