
{{!--  Change to info for party --}}
<section class="container">
  <h3 class="party-name">{{party.name}}</h3>
  <p> Type of activity: {{activities.type}} </p>
  <p> Description: {{activities.description_of_activities}} </p>
  <p> # of participants: {{activities.minNum_Participants}} </p>
  <p> Party date: {{format_date party.date}} </p>
  <section class="flex-row justify-center">
  </section>
</section>
