
    <main>
        <p class="welcome">🎉 Welcome Back to your Parties! 🎉</p>
        <div class="row">
            <div class="col s4 m4">
                <div class="card">
                    {{#each party as |party| }}
                    <div class="row mb-4 project">
                        <div class="col-md-5">
                            <h2>
                            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                            <a href="/party-form/{{party.id}}">{{party.name}}</a>
                            </h2>
                            <p>{{party.date}}</p>
                            <p>Created by {{party.user.name}}</p>

                        </div>
                        <div class="col-md-7">
                            <p>{{party.description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./image/Party 2.jpeg">
                        <span class="card-title">New Year's</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <!--If we click here it should take us to a page and or remove the it -->
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./image/Party 3.jpg">
                        <span class="card-title">Summer Fun</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <!--If we click here it should take us to a page and or remove the it -->
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./image/Party 4.jpg">
                        <span class="card-title">Movie Night</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <!--If we click here it should take us to a page and or remove the it -->
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./image/Party 5.jpeg">
                        <span class="card-title">Friendsgiving</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient
                            because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <!--If we click here it should take us to a page and or remove the it -->
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="card-panel">
                    <span class="black-text"><h5>add another event</h1></span>
                    <a class=" right btn-floating btn-large waves-effect waves-light red" href="/party-form"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </main>