<nav class="nav-extended">
    <div class="nav-wrapper">
        <header class="brand-logo center"><img src='https://media.giphy.com/media/26Fxy3Iz1ari8oytO/giphy.gif'
                width="50px" height="50px">Welcome to PlanIt </header>
        <!-- for mobile use -->
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {{!-- Home Button Works --}}
        <ul class="left hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn" href="/">Home</a></li>
        </ul>
        {{!-- Logout  will be rendered --}}
        <ul class="right hide-on-med-and-down">
            {{!-- IF THE USER IS LOGGED IN, LOGOUT BUTTON WILL APPEAR --}}
            {{#if logged_in}}
            <button id="logout" class=" waves-effect waves-light btn">Logout</button>
            {{else}}
            {{!-- IF THE USER IS LOGGED OUT THE LOGIN BUTTON WILL APPEAR --}}
            <li class="right"><a class="waves-effect waves-light btn" href="/login">Login</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
<main>
    <h4 class="welcome">🎉 Welcome Back to your Parties! 🎉</h4>
    <h5 class="center">{{get_date}}</h5>
    {{!-- Dummy Parties --}}
    <div class="row">
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 2.jpeg">
                    <span class="card-title">New Year's</span>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 3.jpg">
                    <span class="card-title">Summer Fun</span>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 4.jpg">
                    <span class="card-title">Movie Night</span>
                </div>
            </div>
        </div>
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/Party 5.jpeg">
                    <span class="card-title">Friendsgiving</span>
                </div>
            </div>
        </div>
    </div>
    {{!-- Added Parties --}}

    <div class="row">
        
         {{#each parties as |party| }}
        <div class="col s4 m4">
            <div class="card">
                <div class="card-image">
                    <img src="./image/newParty.jpeg">
   <span class="card-title">{{party.name}}</span>
                </div>
                <div class="card-content">
                    <h5><i class="material-icons">date_range</i>  {{party.date}}</h5>
                    <h5><i class="material-icons">people</i>  {{party.guests}} People</h5>
                    <h6><i class="material-icons">drafts</i>  {{party.description}}</h6>
                    <p><i class="material-icons">local_grocery_store</i>  Decorations: {{party.decorations}}</p>
                    <p><i class="material-icons">library_music</i>  Music: {{party.music}}</p>
                    <p><i class="material-icons">local_dining</i>  Food and Drinks: {{party.food_drinks}}</p>
                    <p>Activities: {{party.activities}}</p>
                </div>
                <div class="card-action">
                   {{!-- <a href="/party-form-edit/{{party.id}}"> <button id={{party.id}} class='editBtn'>Edit</button></a> --}}
                    <button id={{party.id}} class='deleteBtn waves-effect waves-light btn'>Delete</button>
                    {{!-- <a href="#">Delete</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col s4 m4">
            <div class="card-panel">
                <span class="black-text">
                    <h5>add another event</h1>
                </span>
                <a class=" right btn-floating btn-large waves-effect waves-light red" href="/party-form"><i
                        class="material-icons">add</i></a>
            </div>
        </div>
    </div>
    <script src="js/confetti.js"></script>
    <script>
        const start = () => {
            setTimeout(function () {
                confetti.start();
            }, 1000)
        }

        const stop = () => {
            setTimeout(function () {
                confetti.stop();
            }, 4000)
        }
        start();
        stop();
    </script>
</main>